body {
    margin: 10px;
    min-width: 150px;
}

* {
    text-align: center;
}

h1 {
    font-size: 14px;
}

button {
    border: 2px solid #FFCC00;
    background-color: #FFCC00;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    transition: 0.3s;
    border-radius: 20px;
    margin: 0 auto;
    padding: 5px 20px;
    font-weight: 600;
}

button:hover {
    background-color: #fff;
    cursor: pointer;
}

#formLogin input {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px;
    margin-bottom: 5px;
}